table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.card {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}
.card-header {
    background-color: #343a40;
    /* Dark gray header */
    color: #ffffff;
    /* White text */
    padding: 20px;
}

h2.card-header  {
    margin: 0;
    font-size: 1.75rem;
    text-align: center;
}
.total-box {
    padding-right: 20px;
    text-align: right;
    font-size: 1.5rem;

    margin-top: 20px;
}
